/* Importing somatic font */
@font-face {
    font-family: mojPrviFont;
    src: url(../fonts/Somatic-Rounded.otf);
}

body {
    background: #f8f8f8;
}

/* Cover */

section#cover {
    /* Gradient backgorund setup */
    /* Link: http://www.colorzilla.com/gradient-editor/ */
    background: #b41111; /* Old browsers */
    background: -moz-linear-gradient(left, #b41111 0%, #fa6e6e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #b41111 0%,#fa6e6e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #b41111 0%,#fa6e6e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b41111', endColorstr='#fa6e6e',GradientType=1 ); /* IE6-9 */

    min-height: 300px;
    padding-top: 100px;
}

.cover-left-side {
    color: #fefefe;
}

.cover-left-side h3 {
    font-family: mojPrviFont;
    font-size: 20px;
    color: #faa4a4;
    text-transform: uppercase;
}

.cover-left-side h1 {
    font-family:  mojPrviFont;
    font-size: 36px;
    color: #fefefe;
    margin-bottom: 25px;
}

.cover-left-side span {
    font-family: Open Sans; 
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;
}

/* Values */

.values-container {
    background: #fefefe;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    margin-top: -90px;
    padding-bottom: 30px;

    min-height: 300px;

    position: relative;
    z-index: 20;

    -webkit-box-shadow: 0px 6px 19px -4px rgba(93,93,93,1);
    -moz-box-shadow: 0px 6px 19px -4px rgba(93,93,93,1);
    box-shadow: 0px 6px 19px -4px rgba(93,93,93,1);
}

.values-container-heading {
    text-align: center;
}

.values-container-heading hr {
    width: 10%;
    border-color: #e73146;
    margin-top: 30px;
    margin-bottom: 30px;
}

.values-container-heading h2 {
    color: #e73146;
    font-family: mojPrviFont;
    font-size: 28px;
    text-transform: uppercase;

    margin-top: -40px;
}

.values-container-heading span {
    display: block;
    width: 80%;
    font-family: Open Sans;
    font-weight: 300;
    color: #5d5d5d;
    font-size: 16px;
    line-height: 28px;

    margin: 0 auto;
}

.values-container-item {
    text-align: center;
    margin-top: 60px;
}

.values-container-item h3 {
    font-family: mojPrviFont;
    font-size: 20px;
    color: #e73146;

    margin-top: 30px;
    margin-bottom: 30px;
}

.values-container-item span {
    font-family: Open Sans;
    font-weight: 300;
    font-size: 14px;

    color: #5d5d5d;
    line-height: 22px;
}

/* Projects */

section#projects {
    margin-top: 90px;
    padding-bottom: 30px;
}

.projects-heading {
    text-align: center;
    margin-bottom: 30px;
}

.projects-heading hr {
    width: 10%;
    border-color: #858585;
    margin-top: 30px;
    margin-bottom: 30px;
}

.projects-heading h2 {
    color: #858585;
    font-family: mojPrviFont;
    font-size: 28px;
    text-transform: uppercase;

    margin-top: -40px;
}

.projects-quote {
    margin-top: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: #5d5d5d;
    line-height: 28px;
}

/* News */

section#news-heading {
    background: #b41111; /* Old browsers */
    background: -moz-linear-gradient(left, #b41111 0%, #fa6e6e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #b41111 0%,#fa6e6e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #b41111 0%,#fa6e6e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b41111', endColorstr='#fa6e6e',GradientType=1 ); /* IE6-9 */

    text-align: center;
    padding: 90px 0 180px 0;
    -webkit-clip-path: polygon(0 0, 1600px 0, 1600px 75%, 0 100%);
    clip-path: polygon(0 0, 1600px 0, 1600px 75%, 0 100%);
}

section#news-heading h2 {
    font-family: mojPrviFont;
    color: #fefefe;
}

section#news-heading h3 {
    font-family: mojPrviFont;
    font-size: 20px;
    color: #d5d5d5;
}

.news-container {
    background: #fefefe;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    margin-top: -120px;
    padding-bottom: 30px;
    padding-top: 30px;

    position: relative;
    z-index: 20;

    -webkit-box-shadow: 0px 6px 19px -4px rgba(93,93,93,1);
    -moz-box-shadow: 0px 6px 19px -4px rgba(93,93,93,1);
    box-shadow: 0px 6px 19px -4px rgba(93,93,93,1);
}

.news-item h3 {
    font-size: 24px;
    font-weight: 300;
    font-family: Open Sans;
    text-transform: uppercase;
    color: #e73146;
    margin-bottom: 30px;
}

.news-item-des {
    font-size: 14px;
    line-height: 24px;
    color: #5d5d5d;
    margin-bottom: 30px;
    display: block;
}

.news-item-btn {
    border: 1px solid #e73146;
    color: #e73146;
    padding: 15px;
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 30px;
}

.news-item-btn:hover {
    cursor: pointer!important;
    opacity: 0.5;
    text-decoration: none;
    color: #e73146;
}

/* Contact */

section#contact {
    background: #b41111; /* Old browsers */
    background: -moz-linear-gradient(left, #b41111 0%, #fa6e6e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #b41111 0%,#fa6e6e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #b41111 0%,#fa6e6e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b41111', endColorstr='#fa6e6e',GradientType=1 ); /* IE6-9 */

    padding: 60px 0;
    margin-top: 60px;
}

.contact-head {
    text-align: center;
    color: #fefefe;
    font-size: 20px;
    font-family: mojPrviFont;
    margin-bottom: 30px;
}

.contact-des {
    font-size: 16px;
    font-weight: 300;
    color: #fefefe;
    text-align: center;
    line-height: 24px;
    margin-bottom: 30px;
}

.message-text {
    height: 180px!important;
    padding: 15px!important;
    resize: none;
    font-size: 16px;
}

.form-control-contact {
    padding: 30px 15px!important;
    font-family: Open Sans;
    font-size: 16px;
}

.contact-btn {
    border: 1px solid #fefefe;
    text-align: center;
    width: 100%;
    padding: 15px;
    background: transparent;
    color: #fefefe;
    border-radius: 3px;
    font-size: 16px;
}

/* Footer */
section#footer {
    padding-top: 30px;
    background: #e5e5e5;
}

.footer-link-list {
    text-align: center;
    font-size: 14px;
    color: #808080;
    margin-bottom: 30px;
}

.footer-link-list a {
    color: #808080;
}